* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/*header*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: black;
    height: 110px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 1170px;
}

.city {
    display: flex;
    flex-direction: column;
}

.phone {
    display: flex;
    flex-direction: column;
}

.sign {
    display: flex;
    flex-direction: column;
}

.sign_a {
    text-decoration: none;
    color: white;
}

.search {
    display: flex;

}

.input_search {
    width: 320px;
    padding: 10px 20px;
    background: #474747;
    color: #989898;
    border: 1px solid #6A6A6A;
}

.input_search:active {

}

.button_img {
    padding: 3px 5px;
    background: #474747;
    border: 1px solid #6A6A6A;
}

.img_ {
    width: 15px;
}

.basket {
    position: relative;
}

.two_png {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
}

/*body_sections*/
.wrapper_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
}

.sections {
    width: 1170px;
    display: flex;
    margin: 60px 0;
}

.section_1 {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.tucson {
    width: 400px;
    height: 400px;
    background: white;
    align-items: center;
    display: flex;
    border: 2px solid #E5E5E5;
}

.tucson_img {
    width: 370px;
    height: 270px;
}

.tucson_images {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.images {
    width: 90px;
    height: 90px;
    border: 2px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.tucson_img2 {
    width: 70px;
    height: 60px;
}

.text_autos {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #7A7A7A;
}

.autos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #7A7A7A;
    border: 1px solid #E5E5E5;
    background: #F4F4F4;
}

.symbol {
    color: #4F74BD;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.autos_child {
    margin-top: 2px;
    margin-left: 12px;
}

.autos_child2 {
    margin-top: 2px;
    margin-left: 35px;
}


.section_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 704px;
    margin-left: 50px;
}

.description_price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.articul {
    width: 400px;
    color: #7A7A7A;
}

h2 {
    line-height: 35px;
    font-weight: 600;
    font-size: 24px;
    color: black;
}

.descriptions {
    line-height: 23px;
}

.price {
    display: flex;
    flex-direction: column;
    background: #EDEDED;
    padding: 40px;
}

.tick {
    width: 21px;
    height: 21px;
}

.tick_cities {
    display: flex;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 20px;
}

.price_110 {
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
}

.cities {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.in_stock_2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.city2 {
    color: #7A7A7A;
}

.buy {
    color: white;
    background: #2156BD;
    border: none;
    padding: 8px 0;
    font-size: 17px;
}

.reviews {
    display: flex;
    flex-direction: column;
}

.name_reviewer {
    font-size: 18px;
    font-weight: 600;
}

.review {
    border: 1px solid #E5E5E5;
    padding: 30px;
    margin-top: 20px;
}

.review_text {
    color: #7A7A7A;
    font-size: 18px;
    font-weight: 600;
}

.in_site {
    color: #2156BD;
}

.in_site:hover {
    text-decoration: none;
}

/*footer*/
.footer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

.footer_blocks {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone_city {
    display: flex;
    flex-direction: column;
}

.footer_img {
    width: 35px;
}

.phone_city {
    margin-left: 10px;
}

.foot_city {
    color: #9A9A9A;
}


