* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/*header*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: black;
    height: 110px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 1170px;
}

.city {
    display: flex;
    flex-direction: column;
}

.phone {
    display: flex;
    flex-direction: column;
}

.sign {
    display: flex;
    flex-direction: column;
}

.sign_a {
    text-decoration: none;
    color: white;
}

.search {
    display: flex;
}

.input_search {
    width: 320px;
    padding: 10px 20px;
    background: #474747;
    color: #989898;
    border: 1px solid #6A6A6A;
}

.button_img {
    padding: 0 10px;
    background: #474747;
    border: 1px solid #6A6A6A;
}

.img_ {
    width: 15px;
}

.basket {
    position: relative;
}

.two_png {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
}

/*body_sections*/
.wrapper_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
}

.sections {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 200px 0;
}

.basket_block {
    background: white;
    border: 1px solid #E5E5E5;
    padding: 30px 40px;
    color: #383838;
}

.basket_block_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket_block_text {
    font-size: 24px;
    font-weight: 600;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0;
    width: 290px;
}

.input {
    margin-top: 5px;
    background: #F6F6F6;
    border: 1px solid #D3D3D3;
    padding: 10px;
}

.contact__info__text {
    margin-top: 10px;
    color: #646464;
}

.button {
    display: flex;
    justify-content: center;
    background: #2156BD;
    color: white;
    width: 250px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

/*footer*/
.footer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

.footer_blocks {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone_city {
    display: flex;
    flex-direction: column;
}

.footer_img {
    width: 35px;
}

.phone_city {
    margin-left: 10px;
}

.foot_city {
    color: #9A9A9A;
}


